body {
    width: 100vw;
    margin: 0;
    padding: 0;
    background-color: #d9d9d9;
    overflow: hidden;
}

.background {
    background-image: url('https://images.unsplash.com/photo-1518714049508-96a3054cdaef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fHNlYW1sZXNzJTIwcGF0dGVybnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60');
    /* background-repeat: repeat-y; */
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    animation: moveBackground 45s linear infinite;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1518714049508-96a3054cdaef?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mzh8fHNlYW1sZXNzJTIwcGF0dGVybnxlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=400&q=60');
    /* background-repeat: repeat-y; */
    background-size: cover;
    animation: moveOverlay 45s linear infinite;
    z-index: 0;
  }

.container {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
		background-color: rgb(255, 255, 255);
		padding: 30px 0px;
}

h1 {
    text-align: center;
}

.image-slot {
    margin: 15px;
    height: 45px;
    width: 450px;
    margin-left: -7px;
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    border: 2px solid;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

input::file-selector-button {
    font-weight: bold;
    background-color: rgb(51, 204, 255);
    color: white;
    padding: 1.2em 2em;
    border-radius: 25px;
    border: none;
    margin-inline-end: 15px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

input::file-selector-button:hover, button:hover {
	cursor: pointer;
}

button {
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    padding: 15px 30px;
    border-radius: 25px;
    border: none;
    background-color: rgb(51, 204, 255);
    color: white;
    font-weight: bold;
}

@keyframes moveBackground {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes moveOverlay {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}